$--font-color: #555555;
$--white: #fff;
$--bg-gradient: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
$--bg-gradient-reverse: linear-gradient(to right, #6372ff 0%, #5ca9f4 100%);
$--text-color:  #777;
$--bg-features: #F6F6F6;
$--blue:  #6372ff;